@use "/src/styles/abstracts/variables" as v;
@use "/src/styles/abstracts/mixins" as m;

._Wrapper {
    padding: 50px 0;
    text-align: center;

    h3 {
        margin-bottom: 32px;
    }

    ._Container {
        position: relative;
        overflow: hidden;
        border-radius: 20px;

        ._Card {
            padding: 25px;
            background-color: rgba($color: v.$black, $alpha: 0.1);
            box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.15);
            z-index: 1;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;


            ._ImageWrapper {
                position: relative;
                width: fit-content;
                margin-inline: auto;
                padding-top: 71px;
                padding-bottom: 35px;

                @include m.tablet {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    padding: 24px 0;
                }

                ._Image {
                    border-radius: 20px;
                    box-shadow: 0px 0px 0px 1px #C4704C;

                    @include m.tablet {
                        width: 100%;
                        aspect-ratio: 460/306;
                        object-fit: contain;
                        height: calc(100% * 306 / 460);
                        order: 2;
                    }
                }

                ._LeftPayment,
                ._RightPayment {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 25px;
                    position: absolute;

                    @include m.tablet {
                        position: static;
                        gap: 16px;
                    }

                    ._PaymentWrapper {
                        display: flex;
                        justify-content: center;
                        gap: 25px;
                        width: calc(128px * 2 + 25px);
                        flex-wrap: wrap;

                        @include m.tablet {
                            gap: 16px;
                        }

                        ._Payment {
                            background-color: v.$white;
                            border-radius: 10px;
                            width: 128px;
                            height: 74px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            box-shadow: 0px 0px 0px 5px rgba(v.$white, 0.25);
                        }
                    }
                }

                ._LeftPayment {
                    left: -245px;
                    top: 20px;

                    @include m.tablet {
                        align-self: flex-start;
                        order: 1;

                        ._PaymentWrapper {
                            justify-content: flex-start;
                        }
                    }
                }

                ._RightPayment {
                    right: -245px;
                    top: 20px;

                    @include m.tablet {
                        align-self: flex-end;
                        order: 3;

                        ._PaymentWrapper {
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }

        ._Circle {
            display: block;
            position: absolute;
            width: 350px;
            height: 350px;
            background: linear-gradient(274deg, v.$primary 0%, v.$secondary 100%);
            border-radius: 50%;
            z-index: 0;
            opacity: 50%;
            filter: blur(175px);
            pointer-events: none;

            &._Left {
                left: -160px;
                bottom: -139px;
            }

            &._Right {
                top: -122px;
                right: -28px;
            }
        }
    }


}