@use "/src/styles/abstracts/mixins" as m;

._Wrapper {
    position: fixed;
    top: 24px;
    left: 0;
    z-index: 2;
    width: 100%;

    ._Container {
        @include m.container;
        padding: 10px 43px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 50px;
        background: rgba(30, 30, 44, 0.50);
        backdrop-filter: blur(5px);

        ._Links {
            display: flex;
            gap: 38px;
            align-items: center;
        }
    }
}