@use 'variables' as v;

@mixin container() {
	max-width: 1134px;
	margin-inline: auto;

	// @media (max-width: v.$laptop-down) {
	// 	max-width: calc(v.$laptop-down - 32px);
	// 	margin-inline: 26px;
	// }

	@media (max-width: v.$tablet-down) {
		max-width: 940px;
		margin-inline: 24px;
	}

	@media (max-width: v.$mobile-down) {
		max-width: 100%;
		margin-inline: 16px;
	}
}

@mixin mobile() {
	@media (max-width: v.$mobile-down) {
		@content;
	}
}

@mixin tablet() {
	@media (max-width: v.$tablet-down) {
		@content;
	}
}

@mixin animation($name) {
	@keyframes #{$name} {
		@content;
	}
}