@use 'variables' as v;

@mixin container() {
	max-width: 1194px;
	margin-inline: auto;

	@media (max-width: v.$laptop-down) {
		max-width: 100%;
		margin-inline: 26px;
	}

	@media (max-width: v.$tablet-down) {
		max-width: 100%;
		margin-inline: 18px;
	}

	@media (max-width: v.$mobile-down) {
		max-width: 100%;
		margin-inline: 16px;
	}
}

// @mixin animation($name) {
// 	@keyframes #{$name} {
// 		@content;
// 	}
// }