@use "/src/styles/abstracts/variables" as v;
@use "/src/styles/abstracts/mixins" as m;

._Wrapper {
    position: relative;
    // overflow: hidden;

    ._LeftCircleOut {
        width: 550px;
        height: 550px;
        background-color: v.$primary;
        filter: blur(250px);
        display: block;
        position: absolute;
        z-index: 0;
        opacity: 50%;
        top: 97px;
        left: -200px;
    }

    ._RightCircleOut {
        width: 550px;
        height: 550px;
        background-color: v.$secondary;
        filter: blur(250px);
        display: block;
        position: absolute;
        z-index: 0;
        opacity: 35%;
        top: 182px;
        right: -200px;
    }

    ._Container {
        padding: 48px 0;
        position: relative;
        z-index: 1;

        @include m.mobile {
            padding: 24px 0;
        }

        ._HowToGetIt {
            ._Content {
                display: flex;
                gap: 63px;
                justify-content: center;
                align-items: center;
                margin-top: 62px;

                @include m.mobile {
                    flex-direction: column;
                    gap: 32px;
                }

                ._CardWrapper {
                    position: relative;
                    overflow: hidden;
                    border-radius: 23px;
                    flex-shrink: 0;

                    ._Card {
                        padding: 33px;
                        width: 401px;
                        height: 416px;
                        background: rgba($color: v.$black, $alpha: 0.1);
                        position: relative;
                        z-index: 1;

                        ._CardContent {
                            text-align: left;
                            width: 281px;
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                        }

                        ._VrMan {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                        }

                        ._HenriPayLogo {
                            position: absolute;
                            top: 33px;
                            right: 33px;
                        }
                    }

                    ._LowerEllipse {
                        width: 238px;
                        height: 276px;
                        position: absolute;
                        bottom: -172px;
                        left: -101px;
                        border-radius: 276px;
                        background: linear-gradient(227deg, #FC4B2C -0.25%, rgba(255, 182, 14, 0.46) 36.36%, rgba(150, 39, 15, 0.00) 94.93%);
                        filter: blur(15px);
                        display: block;
                        z-index: 0;
                    }

                    ._UpperEllipse {
                        position: absolute;
                        top: -217px;
                        right: -71px;
                        width: 320px;
                        height: 373px;
                        border-radius: 373px;
                        background: linear-gradient(306deg, rgba(252, 75, 44, 0.30) 19.26%, rgba(176, 99, 0, 0.30) 54.65%, rgba(255, 182, 14, 0.14) 78.86%);
                        filter: blur(10px);
                        display: block;
                        z-index: 0;
                    }
                }
            }
        }


        ._Advantages {
            display: flex;
            gap: 90px;
            justify-content: center;
            align-items: center;

            @include m.mobile {
                flex-direction: column;

                ._AdvantagesImage {
                    width: 100%;
                    height: 100%;
                    order: 2;
                }
            }

            ._AdvantagesImage {
                object-fit: cover;
            }

            ._TextContent {
                h4 {
                    margin-top: 16px;
                }
            }

            ._List {
                list-style: disc;
                color: v.$white;
                list-style-position: inside;
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin-top: 32px;
            }
        }

        ._SellUrWeb3 {
            position: relative;

            ._Card {
                width: 80%;
                background-color: rgba($color: v.$black, $alpha: 0.1);
                box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.15);
                position: absolute;
                z-index: -1;
                height: 100%;
                overflow: hidden;
                border-radius: 20px;

                @include m.tablet {
                    width: 100%;
                }

                ._LeftCircle {
                    width: 350px;
                    height: 350px;
                    filter: blur(175px);
                    display: block;
                    position: absolute;
                    z-index: 0;
                    border-radius: 50%;
                    background: linear-gradient(274deg, v.$primary 0%, v.$secondary 100%);
                    left: -175px;
                    bottom: -231px;
                    top: auto;

                    @include m.mobile {
                        width: 150px;
                        height: 150px;
                        left: -75px;
                        bottom: -75px;
                    }
                }

                ._RightCircle {
                    width: 350px;
                    height: 350px;
                    filter: blur(175px);
                    display: block;
                    position: absolute;
                    z-index: 0;
                    border-radius: 50%;
                    background: linear-gradient(274deg, v.$primary 0%, v.$secondary 100%);
                    right: -173px;
                    top: -231px;

                    @include m.mobile {
                        width: 150px;
                        height: 150px;
                        right: -75px;
                        top: -75px;
                    }
                }

            }

            ._Content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 95px 64px;
                padding-right: 0;

                @include m.tablet {
                    flex-direction: column;
                    gap: 16px;
                    padding: 24px;
                }
                ._TextContent {
                    width: 500px;
                    display: flex;
                    flex-direction: column;
                    gap: 32px;

                    @include m.tablet {
                        width: 100%;
                        order: 2;
                        gap: 16px;
                    }
                }

                ._Coins{
                    @include m.tablet {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        order: 1;
                    }
                }
            }

        }

        ._MultiChain {
            ._CardWrapper {
                background: linear-gradient(274deg, v.$primary 0%, v.$secondary 100%);
                border-radius: 20px;
                padding: 2px;
                position: relative;
                overflow: hidden;



                ._Card {
                    z-index: 1;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 48px;
                    gap: 50px;

                    @include m.mobile {
                        flex-direction: column;
                        padding: 24px;
                    }

                    ._TextContent {
                        width: 523px;
                        display: flex;
                        flex-direction: column;
                        gap: 32px;

                        @include m.mobile {
                            width: 100%;
                            gap: 16px;
                        }
                    }

                    ._MultiChainImage {
                        object-fit: cover;

                        @include m.mobile {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    inset: 2px;
                    background: v.$black;
                    z-index: 0;
                    border-radius: 20px;
                }

                ._LeftCircle {
                    width: 350px;
                    height: 350px;
                    filter: blur(175px);
                    display: block;
                    position: absolute;
                    z-index: 0;
                    border-radius: 50%;
                    background: linear-gradient(274deg, v.$primary 0%, v.$secondary 100%);
                    left: -175px;
                    bottom: -215px;
                }

                ._RightCircle {
                    width: 350px;
                    height: 350px;
                    filter: blur(175px);
                    display: block;
                    position: absolute;
                    z-index: 0;
                    border-radius: 50%;
                    background: linear-gradient(274deg, v.$primary 0%, v.$secondary 100%);
                    right: -173px;
                    top: -231px;
                }
            }
        }
    }





}