@use "/src/styles/abstracts/variables" as v;

._Wrapper {
    position: relative;

    label {
        display: block;
        font-size: 15px;
        font-weight: 400;
        color: v.$white;
        margin-bottom: 8px;

        &._Required {
            &::after {
                content: "*";
                color: v.$primary;
                margin-left: 2px;
            }
        }
    }

}