._Wrapper {
    position: relative;

    ._Select {
        display: flex;
        justify-content: space-between;
    }

    ._Options {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 12px;
        display: none;
        z-index: 1;

        &._Open {
            display: block;
        }

        ._Option {
            cursor: pointer;
        }
    }
}