@use "/src/styles/abstracts/variables" as v;
@use "/src/styles/abstracts/mixins" as m;

._Wrapper {
    padding: 96px 0;
    text-align: center;
    position: relative;
    overflow: hidden;

    h4 {
        margin-bottom: 16px;
    }

    h3 {
        margin-bottom: 32px;
    }

    ._LeftCircle {
        display: block;
        position: absolute;
        width: 550px;
        height: 550px;
        background-color: v.$primary;
        border-radius: 50%;
        z-index: 0;
        opacity: 50%;
        left: -200px;
        top: 0;
        filter: blur(250px);
    }

    ._RightCircle {
        display: block;
        position: absolute;
        width: 550px;
        height: 550px;
        background-color: v.$secondary;
        border-radius: 50%;
        z-index: 0;
        opacity: 50%;
        bottom: 0;
        right: -200px;
        filter: blur(250px);
    }

    ._Container {
        position: relative;
        overflow: hidden;

        ._Comparation {
            display: flex;
            justify-content: center;
            align-items: start;
            gap: 62px;
            margin-top: 126px;
            padding: 68px 0;
            position: relative;

            @include m.tablet {
                flex-direction: column;
                gap: 20px;
                align-items: center;
                margin-top: 24px;

                ._WithHenriPay {
                    margin-top: 40px;
                }
            }

            ._WithoutHenriPay {
                width: 100%;
                position: relative;

                ._Maze {
                    // display: grid;
                    width: 100%;
                    aspect-ratio: 107/55;
                    position: relative;
                    // object-fit: contain;
                    // grid-template-areas: stack;

                    @include m.tablet {
                        max-width: 600px;
                        margin-inline: auto;
                    }

                    ._MazeImage {
                        width: 100%;
                        object-fit: contain;
                    }

                    ._FloatingSign {
                        position: absolute;
                        z-index: 1;
                        top: -18%;
                        right: 5%;
                        animation: float 3s ease-in infinite alternate;
                        width: 80%;
                    }
                }
            }

            ._Versus {
                align-self: center;
            }

            ._WithHenriPay {
                position: relative;
                height: 100%;
                ._WithHenripayImage {
                    @include m.tablet {
                        width: 100%;
                        height: auto;
                        max-width: 800px;
                    }
                }
            }

            ._Bedge {
                position: absolute;
                top: -50px;
                text-wrap: nowrap;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        ._Integrate {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }
}

@keyframes float {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-10px);
    }
}