@use "/src/styles/abstracts/variables" as v;

._Wrapper {
    padding: 4px;
    border-radius: 50px;
    width: fit-content;
    position: relative;

    &:hover {
        background: linear-gradient(274deg, v.$primary 0%, v.$secondary 100%);
        border-color: v.$primary;

        &::before {
            content: "";
            position: absolute;
            z-index: 0;
            inset: 2px;
            border-radius: 50px;
            background-color: v.$black;
        }


        &:has(.ghost) {
            border-color: v.$white;
        }

        ._Button {
            color: v.$white;
        }
    }


    ._Button {
        display: flex;
        padding: 14px 32px;
        cursor: pointer;
        height: fit-content;
        gap: 10px;
        border: none;
        outline: none;
        border-radius: 50px;
        background: linear-gradient(274deg, v.$primary 0%, v.$secondary 100%);
        font-size: 16px;
        z-index: 1;
        position: relative;

        &:has(._StartIcon),
        &:has(._EndIcon) {
            display: flex;
            align-items: center;
            gap: 8px;

            &:has(._StartIcon) {
                padding-left: 20px;
            }

            &:has(._EndIcon) {
                padding-right: 20px;
            }

            ._StartIcon,
            ._EndIcon {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        ._IconOnly {
            padding: 14px;
        }

        &.ghost {
            background: transparent;
        }
    }
}