@use "/src/styles/abstracts/variables" as v;
._Wrapper {
    // backdrop
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba($color: v.$black, $alpha: 0.5);
    display: none;

    &._Open{
        display: block;
    }

    

    ._Container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 569px;
        border-radius: 20px;
        overflow: hidden;

        ._CloseButton {
            position: absolute;
            top: 16px;
            right: 16px;
            z-index: 2;
            width: max-content;
            background-color: transparent;
            cursor: pointer;
        }

        ._Content {
            z-index: 1;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 44px 45px;
            justify-content: center;
            align-items: center;

            ._Heading {
                font-size: 24px;
                font-weight: 600;
                text-transform: capitalize;
                color: v.$white;
            }
        }


    }
}