@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

* {
    font-family: Inter, sans-serif;
    scroll-behavior: smooth;
}

.container {
    @include m.container;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

input,
textarea,
.select {
    border: none;
    outline: none;
    background: v.$white;
    border-radius: 20px;
    padding: 12px;

    &:focus {
        outline: none;
    }
}